.card-white {
  background: white;
  padding: 5px;
  margin: 0px auto;
  border-radius: 3px;
  box-shadow: 1px, 1px, 3px, #C6878F;
  text-align: center;
}

.card-white-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px, 1px, 3px, #C6878F;
  text-align: center;
}

.card-white-flex-left {
  flex: 0 0 49%;
  background-color: white;
  border-radius: 3px;
}

.card-white-flex-right {
  flex: 0 0 49%;
  background-color: white;
  border-radius: 3px;
}

.card-white-flex img {
  width: 200px;
  height: 150px;
}
