@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Kanit&display=swap');


body {
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 16px;
  background: linear-gradient(0deg, #002654 0%, #ED2939 100%);
}

h1, h2, h3 {
  font-family: "Kanit", sans-serif;
}

a {
  text-decoration: none;
  color: #333333;
}

p {
  line-height: 1.5;
}

.margin-top {
  margin-top: 8px;
}

.display-inline-block {
  display: inline-block;
}

.container {
max-width: 800px;
margin: 0 auto;
}

.card-white {
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.img-rounded {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.btn-blue {
  background-color: #034C9A;
  border-radius: 4px;
  padding: 16px;
  color: white;
}

.btn-blue:hover {
  background-color: #033366;
  transition: background-color 0.5s;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
  font-size: 40px;
  margin: 16px;
}

.list-inline i:hover {
  color: #DE6B20;
  transition: 0.5s;
}
