body {
/*  background-image: url("images/backgroundpic.jpg");*/
  background-color: #3D5A6C;
  color: #819595;
  font-size: 16px;
  font-weight: lighter;
  font-family: Open-Sans;
}

h1, h2, h3 {
  font-family: Montserrat;
}

h1 {
  color: #C6878F;
}

h2 {
  color: #B1B6A6;
}

h3 {
  color: #B1B6A6;
}

a {
  text-decoration: none;
  color: #3D5A6C;
}

a:hover {
  color: #B1B6A6;
}


#profile_pic {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}

.card-white {
  background-color: white;
  padding: 20px;
  width: 800px;
  margin: 20px auto;
  border-radius: 3px;
  box-shadow: 1px, 1px, 3px, #C6878F;
  text-align: center;
}

.job img {
  width: 400px;
  height: 300px;
  border-radius: 3px;
}

/*.btn-red {
  background-color: #A0805D;
  padding: 10px 15px;
  border-radius: 3px;
  color: white;
}

.btn-red :hover {
  color: white;
}*/

.list-inline {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  color: #C6878F;
}

.list-text {
  text-align: left;
}

.list-text li {
  padding: 10px;
  font-size: 16px;
}

.list-text strong {
  color: #C6878F;
}

.title-year {
  text-align: center;
}

.fa-file-pdf-o {
font-size: 35px;
}

#flag {
  width: 30px;
  height: 18px;
}

#movies img {
  width: 80px;
}

#pdf {
  margin: 0px auto;
}

#pdf img {
  vertical-align: bottom;
}

.sidebar1 {
    background: #A0805D;
/*    padding: 0px;
    left: 0;
    top: 0;*/
    min-height: 40%;
    position: fixed;
    border-radius: 4px;
    font: 22px;
}

.list {
  padding-left: 15px;
  text-align: left;
}

.list li {
  padding: 5px 5px 5px 0px;
  list-style: none;
  font-size: 20px;
}


.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}


/*.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;*/
}
/*.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list h3 {
    color: rgba(255, 255, 255, 0.5);
    padding: 5px 0px 5px 40px;
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
    left: 0;*/
}



*/


