body {
  background-color: white;
  color: #262626;
  font-size: 18px;
  font-family:
  line-height: 1.8;
  margin: 0;
}

h1, h2 {
  color: #A0A0A0;
}

a {
  text-decoration: none;
  color: #7A7A7A;
}

.banner {
  background-image: url("https://unsplash.it/1000/600?image=1068");
  background-size: cover;
  padding: 150px 0;
  background-position: center;
  text-align: center;
  color: white;
}

.banner h1 {
  color: white;
}

.banner p {
  font-style: italic;
  font-size: 20px;
}

.container {
  width: 700px;
  margin: 0 auto;
}

@media(max-width: 900px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 7500px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 350px;
  }
}

/*flexbox*/

